@import "_elements";
@charset "UTF-8";

$base-font-size: 16px;
$default-color:#fff;
$default-link-color:#fff;
$default-bgcolor:#7fbfc9;
$hover-bgcolor:#e64280;
$highlight-bgcolor:#f5bb11;

/* GLOBAL */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: 'Open Sans', sans-serif; font-weight:300; color:$default-color; }
body {
    background:#035669;
    margin:0;
    padding:0;
    font-size:1em;
}

html.touch-device, .touch-device body { overflow-x:hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

hr { border:0; border-top-width:1px; border-color:#000; border-style:solid; clear:both; height:0; display:block; margin:0; }

a { color: $default-link-color; outline: 0; text-decoration:none; }
a:active, a:visited, a:hover, a:link { color: $default-link-color; }

b, strong { font-weight: bold; }
ul, ol { margin: 0 0 1em 0; padding: 0 0 0 40px; }
img { border: 0; vertical-align: middle; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; }
button { background:none; border:none; margin:0; padding:0; outline:none; }
button:focus, input:focus, textarea:focus { outline:none; }
.oldie select, .oldie textarea { vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
.oldie button, .oldie input { overflow: visible; vertical-align: middle; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
.img-responsive { display: block; max-width: 100%; width: auto; height: auto; -ms-interpolation-mode: bicubic; }
iframe { border:none; }
.unstyled { list-style-type:none; margin:0; padding:0; }
.clearfix { zoom:1; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.media { overflow: hidden; zoom:1; }

// WRAPPER

.wrapper {
    display:block;
    margin:0 auto;
    padding:0;
    width:650px;
}

.entry-title {
    display: block;
    font-size: 31px;
    font-weight:300;
    margin: 0;
    padding: 68px 0 25px 0;
    text-align: center;
    strong {
        color:#e64280;
        font-weight:300;
    }
}

.step-title {
     display: block;
    font-size: 24px;
    font-weight:800;
    margin: 0;
    padding: 0 0 12px 0;
    text-align: center;
    text-transform: uppercase;
}

// STEPS

.step-2 {
    display: none;
    min-height: 585px;
}

// GENDER SELECTION

.gender-selection {
    margin: 0;
    padding:0 0 30px 0;
    text-align: center;
}

.gender-selection__item {
    display: inline-block;
    margin: 0;
    padding:0 0 0 15px;
    vertical-align: top;
    span {
       @include transition(all .3s linear);
       background:$default-bgcolor;
       border-radius:8px;
       display: block;
       height: 120px;
       margin: 0;
       padding: 25px 0 0 0;
       vertical-align: top;
       width: 120px;
    }
    em {
        display: inline-block;
        font-style:normal;
        font-size: 14px;
        font-weight: 600;
        text-indent: -10px;
        margin: 0;
        padding: 5px 0 0 0;
        vertical-align: top;
    }
    input {
        visibility: hidden;
    }
    &.active, &:hover {
        span {
            background:$hover-bgcolor;
        }
    }
}

// MAP

.map {
    polygon, polyline {
        @include transition(all .3s linear);
        fill:$default-bgcolor;
        &:hover {
            cursor:pointer;
            fill:$hover-bgcolor;
        }
    }
    #active {
      fill:$hover-bgcolor;
    }
}

.dom-block {
    position: absolute;
    left: 0;
    top: 145px;
    span {
        background:$default-bgcolor;
        border-radius:50%;
        color:#007088;
        cursor:pointer;
        display: block;
        font-size: 14px;
        font-weight: 600;
        height: 60px;
        line-height: 60px;
        text-align: center;
        width: 60px;
        &:hover {
            background:$hover-bgcolor;
            cursor:pointer;
        }
        &#active {
          background:$hover-bgcolor;
        }
    }
}

.france-block {
    position:absolute;
    left:360px;
    top:80px;
}

.region {
    display: none;
}

.area-block {
    float: left;
    position: relative;
    margin: 0 0 0 60px;
}

.region-block {
    svg {
        margin:0 0 0 20px;
    }
}

.legend-region {
    float: left;
    font-size: 14px;
    position: absolute;
    left: -20px;
    top: -20px;
    &:after {
        background:url(images/bg-region-legend.svg) left top no-repeat;
        content:'';
        float: right;
        height: 42px;
        margin:10px 0 0 5px;
        width: 32px;
    }
}

.france-region {
    float: left;
    font-size: 14px;
    position: absolute;
    left: 65px;
    top: 120px;
    width: 150px;
    span {
        float: left;
        margin:36px 0 0 5px;
    }
    &:before {
        background:url(images/bg-france-legend.svg) left top no-repeat;
        content:'';
        float: left;
        height: 36px;
        margin:10px 0 0 5px;
        width: 19px;
    }
}

// BUTTONS

.bt {
    text-align: center;
    span {
        background:#007088;
        border-radius:15px;
        cursor:pointer;
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        padding:10px 30px;
        text-transform: uppercase;
        vertical-align: top;
    }
}

.show-step2 {
    visibility: hidden;
}

.footer {
    margin: 0;
    padding:20px 0 10px 0;
    text-align: center;
    svg {
        display: inline-block;
        vertical-align: top;
    }
}

// DASHBOARD

.dashboard-selection {
    text-align: center;
}

.dashboard-selection__gender {
    background:url(images/bg-gender-legend.svg) 25% 20% no-repeat;
    display: inline-block;
    height: 144px;
    margin:0;
    vertical-align: top;
    width: 197px;
    span {
        color:#fff;
        float: left;
        font-size: 14px;
        padding: 45px 0 0 0;
    }
    p {
        background-position:left top;
        background-repeat:no-repeat;
        background-size:cover;
        float: right;
        margin: 0;
        padding: 0;
    }
}

.dashboard-selection__gender-f {
    background-image:url(images/female.svg);
    height: 103px;
    width: 82px;
}

.dashboard-selection__gender-m {
    background-image:url(images/male.svg);
    height: 105px;
    width: 74px;
}

.dashboard-selection__gender-a {
    background-image:url(images/all.svg);
    height: 105px;
    width: 126px;
}

.dashboard-selection__region {
    background:url(images/bg-current-region-legend.svg) 50% 30% no-repeat;
    display: inline-block;
    height: 144px;
    margin:0 0 0 30px;
    width: 280px;
    vertical-align: top;
    span {
        color:#fff;
        float: right;
        font-size: 14px;
        padding: 0;
        text-align: center;
        width:120px;
    }
    p {
        background-position:left top;
        background-repeat:no-repeat;
        background-size:cover;
        float: left;
        padding: 0;
    }
}

$country-map: alsace 56px 88px 0 45px, aquitaine 90px 120px -10px 20px, auvergne 96px 120px -10px 20px, basse-normandie 112px 88px 15px 40px, bourgogne 104px 120px 0 40px, bretagne 144px 80px 0 20px, centre 94px 115px 0 20px, champagne-ardenne 72px 108px 0 30px, corse 40px 96px 10px 40px, dom 100px 100px -2px 20px, france 126px 122px 0 20px, franche-comte 72px 96px 0 20px, haute-normandie 64px 80px 10px 30px, ile-de-france 80px 64px 20px 20px, languedoc-roussillon 90px 114px 0 25px, limousin 80px 104px 0 20px, lorraine 104px 104px 10px 20px, midi-pyrenees 108px 102px 10px 20px, nord-pas-de-calais 96px 64px 25px 20px, pays-de-la-loire 102px 96px 10px 20px, picardie 112px 80px 15px 20px, poitou-charentes 78px 84px 15px 20px, provence-alpes-cote-d-azur 136px 120px 0 20px, rhone-alpes 136px 128px 0 20px;
@each $country-map-name in $country-map {
    .region-#{nth($country-map-name, 1)} {
            background-image:url(images/regions/region-#{nth($country-map-name, 1)}.svg);
            height: nth($country-map-name, 3);
            margin: nth($country-map-name, 4) 0 0 nth($country-map-name, 5);
            width: nth($country-map-name, 2);
    }
}

// TREEMAP

.node {
  border: solid 1px #035669;
  cursor:pointer;
  overflow: hidden;
  position: absolute;
  border-radius:8px;
}

.treemap-description {
    color:#333;
    height: 46px;
    position:relative;
    padding:0 12px;
    margin:0 auto 30px auto;
    background:#f5bb11;
    border-radius:10px;
    width: 550px;
    &:after {
        content: '';
        position: absolute;
        bottom: -20px;
        right: 110px;
        border-width: 20px 20px 0 0;
        border-style: solid;
        border-color: #f5bb11 transparent;
        display: block;
        width: 0;
    }
    p {
        display: block;
        float: left;
        font-weight: 600;
        font-style: italic;
        margin: 0;
        padding: 0;
        line-height: 3.8;
        width: 85%;
        text-align: center;
        &:before, &:after {
            background:url(images/quote-left.svg) left top no-repeat;
            content:'';
            display: inline-block;
            height: 20px;
            margin: 10px 5px 0 5px;
            padding:0;
            width: 20px;
            vertical-align: top;
        }
        &:after {
            background:url(images/quote-right.svg) left top no-repeat;
        }
        &.default-message {
            line-height: 3;
            width: 100%;
            &:before, &:after {
                display: none;
            }
        }
    }
    span {
        display: block;
        float: right;
        line-height: 46px;
        margin: 0;
        padding: 0;
        strong {
            font-weight: 300;
            font-size: 32px;
        }
    }
}

.graph {
    position: relative;
    > div {
        margin:0 auto;
    }
}


.step-2__selection {
    position: relative;
}

.current-type {
    display: block;
    font-size: 16px;
    font-weight: 800;
    margin: 0 auto;
    padding:0;
    text-transform: uppercase;
    width:550px;
}

.type {
    &:not(#foo) input[type='radio'] {
        opacity: 0;
        float: left;
        height: 31px;
        width: 18px;
    }

    &:not(#foo) input[type='radio'] + label {
        margin: 0;
        clear: none;
        display: block;
        padding: 0;
        cursor: pointer;
        height: 31px;
        position:absolute;
        top:180px;
        width: 18px;
        z-index:5;
    }

    &:not(#foo) #type-manies + label {
        background: url(images/radio-left-active.svg) left center no-repeat;
        left:15px;
    }

    &:not(#foo) #type-manies:checked + label {
        background: url(images/radio-left-inactive.svg) left center no-repeat;
        cursor:default;
    }

    &:not(#foo) #type-imperfections + label {
        background: url(images/radio-right-active.svg) left center no-repeat;
        right:15px;
    }

    &:not(#foo) #type-imperfections:checked + label {
        background: url(images/radio-right-inactive.svg) left center no-repeat;
        cursor:default;
    }

}

.meetic-embed {
    background:$default-bgcolor;
    border-radius:0 0 8px 8px;
    cursor:pointer;
    display: block;
    font-weight:700;
    line-height: 32px;
    height: 32px;
    position:absolute;
    left:50%;
    top:0;
    margin: 0 0 0 -70px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    width: 140px;
}

#meetic-embed__content {
    padding:1em;
    textarea {
        background:#7fbfc9;
        border:none;
        display: block;
        overflow: hidden;
        height:90px;
        font-size: 14px;
        margin:0;
        padding:.5em;
        width:100%;
    }
}

.sources {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 20px;
    font-size: 0.8em;
}

// COLORBOX

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; font-family: 'Open Sans', sans-serif; font-weight:300; color:#fff;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;background:#000;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:5px solid #000; background:#035669;}
        #cboxTitle{display: none;}
        #cboxCurrent{display: none;}
        #cboxLoadingGraphic{background:url(../images/colorbox/loading.gif) no-repeat center center;}

        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../images/colorbox/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../images/colorbox/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(../images/colorbox/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}
